.container {
    background-color: #ccc;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  
  .scroller {
    position: absolute;
    transition: transform 350ms;
    height: 100%;
    display: flex;
  }
  
.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: opacity 350ms;
}