button {
    border-radius: 5px;
    border: 1px solid rgb(197, 115, 128);
    padding: 10px;
    background: transparent;
    transition: 0.15s ease-in-out;
    margin: 10px 0;
    background: whitesmoke;
    color: rgb(146, 83, 94);
    margin-left: 22px;
    

    &:hover {
        cursor: pointer;
        background: rgb(197, 115, 128);
        color: white;
    }
}