button {
    border-radius: 5px;
    border: 1px solid rgb(197, 115, 128);
    padding: 10px;
    background: transparent;
    transition: 0.15s ease-in-out;
    margin: 10px 0;
    background: whitesmoke;
    color: rgb(146, 83, 94);
    margin-left: 22px;
    transition: all 0.5s;
    cursor: pointer;

    // &:hover {
    //     cursor: pointer;
    //     background: rgb(197, 115, 128);
    //     color: white;
    // }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
}