.navC {
  
    margin-right:40px;
    font-size: 23px;
    font-family:fantasy;
    color: rgb(231, 10, 147);
    align-items: right;
   
}

.navD{
 
    margin-right:40px;
    font-size: 23px;
    font-family:fantasy;
    align-items: right;
    color:black
}

.navC:hover {
    background-color:pink;
    // color: black; 
    padding-left:20px;
    padding-right:20px;
    font-family: 'Viaoda Libre', cursive;	
}
// .navC:active {
//     color: black;
//     font-family: 'Viaoda Libre', cursive;	
//   }
.navD:hover {
    padding-left:20px;
    padding-right:20px;
    background-color:pink;
    
    font-family: 'Viaoda Libre', cursive;	
}
//   .navD:active {
//     color: pink;
//     font-family: 'Viaoda Libre', cursive;	
//   }

  
.nav-links {
    /* display: inline-block; */
    /* height: 40px; */
    font-size: 19px;
    /* font-weight :200px; */
    margin-right:40px;
    /* background-color:white;will change background-color of element */
    color: black; /*will change color of text within the element */ 
    font-family:fantasy;
    /* font-style: inherit; */
    }
    
    .nav-links:hover {
    // background-color:pink; /*will change background-color of element on hover */
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
     /*will change color of text within the element on hover */
    }