.home-page-customer{
    display: flex;
	// margin: 0 auto;
	// padding-top: 8;
    // padding-bottom: 8;
	// position: relative;
	// // min-height: 100vh;
	// height:100%;
	// // background: white;
	// border-radius: 5px;
	// flex-direction: row;


    &_title {
        font-size: 44px;
		font-weight: bold;
		// text-align: center;
		// padding: 20px 0;
        font-family: 'Viaoda Libre', cursive;
        width:100%;

    }


	&_item {
		font-family: 'Viaoda Libre', cursive;	
		font-size: 50px;
		// display: flex;
		// order: -2;		
		// padding: 30px 0 0 30px;
		// flex-direction: row;

	}
	&_p{
		font-family: 'Viaoda Libre', cursive;	
		font-size: 30px;
	}

	&_size {
		font-family: 'Viaoda Libre', cursive;	
		font-size: 40px;
	}

	&_buttn{
		// font-weight:800;

		color:black;
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		border:"1px solid black";
		width:400px;
		
		// background-color:#FF00A7;
		padding:30px;
	}
}